.spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}



.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.064em;
    height: 0.1777em;
    border-radius: 0.9555em;
    background-color: transparent;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
}

@keyframes spinner-fade9234 {
    0% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}