@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  height:50px;
}
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg:rgba(41, 45, 46)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232626;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-bg{
  background-color: var(--nav-bg);
}
.container-section{
  width: 95%;
  margin: auto;
}
.pulse {

  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(44 204 124 / 40%);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(44 204 83 / 40%);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(44 204 83 / 40%);
    box-shadow: 0 0 0 0 rgb(44 204 83 / 40%);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

/* Add this in your global CSS file or in a <style jsx> block */

/* Add this to your global CSS file for smooth scrolling */
.transition-transform {
  transition: transform 0.5s ease;
}

.after-box{
  position: relative;
}
.after-box:hover::after{
  width: 100%;
  height: 100%;
  position: absolute;
content: "";
background-color: #0000007d;
border-radius: 8px;
top: 0;
right: 0;
bottom: 0%;
left: 0;
}
.overlay-section{
  width: 100%;
  height: 100vh;
  background: #000000a3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.casino-box{
  background-image: linear-gradient(to left, rgb(44, 80, 64), transparent 75%);
}
.sports-box{
  background-image: linear-gradient(to left, rgb(88, 46, 89), transparent 75%);
}
.lottery-box{
  background-image: linear-gradient(to left, rgb(66, 83, 48), transparent 75%);
}
.updown-box{
  background-image: linear-gradient(to left, rgb(45, 79, 49), transparent 75%);
}
.racing-box{
  background-image: linear-gradient(to left, rgb(80, 65, 48), transparent 75%);
}
.bingo-box{
  background-image: linear-gradient(to left, rgb(71, 56, 111), transparent 75%);
}
.pink-box{
  background: linear-gradient(rgba(244, 62, 139, 0) 0%, rgba(244, 62, 139, 0.6) 100%), rgb(50, 55, 56);
}
.orange-box{
  background: linear-gradient(rgba(244, 182, 62, 0) 0%, rgba(244, 182, 62, 0.6) 100%), rgb(50, 55, 56);
}
.yellow-box{
  background: linear-gradient(rgba(230, 246, 44, 0) 0%, rgba(230, 246, 44, 0.6) 100%), rgb(50, 55, 56);
}
.green-box{
  background: linear-gradient(rgba(44, 246, 89, 0) 0%, rgba(44, 246, 89, 0.6) 100%), rgb(50, 55, 56);
}
.blue-box{
  background: linear-gradient(rgba(44, 125, 246, 0) 0%, rgba(44, 125, 246, 0.6) 100%), rgb(50, 55, 56);
}

/* marquee */
@keyframes verticalMarquee {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-vertical-marquee {
  animation: verticalMarquee 6s linear infinite;
}

/* Arrows */

.slick-arrow .slick-prev {
  position: absolute;
  left:1400px;
  padding: 10px;
}

.slick-arrow .slick-next{
  position: absolute;
  right:50px;
}